body {
  background-color: white;
  margin: 0;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}
.fastfood-card {
  background-color: white;
  color: rgb(0, 0, 0);
  display: flex;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 10px;
}
h2 {
  font-size: 40px;
  text-align: center;
}
#list-fast-food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: content-box;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.fastfood-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.fastfood-card div{
    text-align: center;
    font-weight: bold;
}
